*{
    box-sizing: border-box;
    font-family: "Anta", sans-serif;
    scroll-behavior: smooth;
}


body
{
    background: white;     
    margin: 0;
}

header
{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 7em;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    background-color: black;
    border-style: solid;
    border-color: #9a2edb;
    border-width: .1em;
}

.logo{
    width: 20%;
    display: flex;
    flex-direction: row;
}
.logo>a>img{
    width: 9em;
}
ul
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
}
.carteira{
    margin-right: 5em;
}
.cadastrologin{
    display: flex;
    flex-direction: row;
    width: 20%;
    justify-content: right  ;
    margin-right: 1.5em;
}
.cadastrologin>h2>a{
    transition-duration: .2s;
    text-decoration: none;
    color: #9a2edb;
}

.cadastrologin>h2>a:hover{
    transition-duration: .4s;
    text-decoration: none;
    color: white;
}

.cadastrologin>h2{
    padding: .8em;
}


li
{
    list-style: none;
    margin-right: 1em;
}
li a
{
    display: flex;
    align-items: center;
    flex-direction: row;
    text-decoration: none;
    padding: 1em 2em;
    color: #fff;
    border-radius: 2em;
}

li a:hover
{
    background: #fff;
    color: #9a2edb;
}

h1{
    transition-duration: .4s;
    font-size: 4em;
    color: black;
    margin: 0;
}

h1:hover{
    transition-duration: 0.8s;
    color: #9a2edb;
}
article{
    margin-top: 6.9em;
    background-color: white;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
body::-webkit-scrollbar {
    width: .45em;
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 1em;
  }
  body::-webkit-scrollbar-track {
    background-color:  #131313;
  }
  

.botao{
  background-color: #9a2edb;
  color: #ffffff;
  font-size: 0.9em;
  border-radius: 30px;
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  row-gap: 4em;
  align-items: center;
  justify-content: center;
  border-color: white;
  width: 20em;
  height: 3em;
}

form{
    padding-top: 1em;
    background-color: #f2f2f2;
    border-radius:1.5rem;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
    width: 17.5em;
    color: #9a2edb;
}

.DDD{
    border: none;
    outline: none;
    background-color: #f0f0f0;
    height: 2rem;
    width: 2.4rem;
}

.cadastro input{
    border: none;
    border-bottom: 0.08rem solid gray;
    background-color: #f0f0f0;
    padding: 0.24rem;
    font-size: 1em;
    outline: none;
}

.login input{
    border: none;
    border-bottom: 0.08rem solid gray;
    background-color: #f0f0f0;
    padding: 0.24rem;
    font-size: 1em;
    outline: none;
}

#home{
    display: grid;
    grid-template-rows: 1 1;
    grid-template-columns: 1 1;
    width: 50%;
}

#home> div{
    text-align: justify;
    border: #9a2edb solid .2em;
    border-radius: .8em;
    padding: .5em;
    padding-left: 2em;
    padding-right: 2em;
    margin: 1em;
}

#homeTextInvestimentos a>h2{

    transition-duration: .2s;
    color: black;

}

#homeTextInvestimentos a{
    text-decoration: none;
}

#homeTextInvestimentos a> p{
    text-decoration: none;
    color: black;
}

#homeTextInvestimentos:hover{
    h2{
        transition-duration: .5s;
        font-size: 1.8em;
        color: #9a2edb;
    }
}

#homeTextTabela a>h2{

    transition-duration: .2s;
    color: black;

}

#homeTextTabela a{
text-decoration: none;
}

#homeTextTabela a> p{
text-decoration: none;
color: black;
}

#homeTextTabela:hover{
h2{
    transition-duration: .5s;
    font-size: 1.8em;
    color: #9a2edb;
}
}

#homeText1 h1{

    transition-duration: .2s;
    color: black;

}


#homeText1 p{
text-decoration: none;
color: black;
}

#homeText1:hover{
    h1{
        transition-duration: .5s;
        font-size: 5em;
        color: #9a2edb;
    }
}

#homeTextCarteira a>h2{

    transition-duration: .2s;
    color: black;

}

#homeTextCarteira a{
text-decoration: none;
}

#homeTextCarteira a> p{
text-decoration: none;
color: black;
}

#homeTextCarteira:hover{
h2{
    transition-duration: .5s;
    font-size: 1.8em;
    color: #9a2edb;
}
}

#investimentos{
    display: grid;
    grid-template-rows: 1 1;
    grid-template-columns: 1 1;
    width: 50%;
}


#investimentos > div{
    text-align: justify;
    border: #9a2edb solid .2em;
    border-radius: .8em;
    padding: .5em;
    padding-left: 2em;
    padding-right: 2em;
    margin: 1em;
}

#investimentos > div h2{

    transition-duration: .2s;
    color: black;

}

#investimentos > div:hover{
    h2{
        transition-duration: .8s;
        font-size: 2em;
        color: #9a2edb;
    }
    }
    #acessarconta>a{
        text-decoration: none;
        color: #9a2edb;
    }
    .imagemperfil{
        display: flex;
        flex-direction: row;
        width: 20%;
        justify-content: right  ;
        margin-right: 1.5em;
    }
    .imagemperfil>a>img{
        border-radius: 100%;
        width: 4em;
    }
    .tabelainformacoes{
        background-color: #f2f2f2;
        border-radius:1.5rem;
        align-items: left;
        justify-content: center;
        display: flex;
        flex-direction: row;
        row-gap: .5rem;
        width: 50em;
        color: #9a2edb;
    }
    .alterarimagemperfil{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 35%;
        border-right: .1em solid rgb(115, 115, 115);
        margin-right: .5em;
        }
    .alterarimagemperfil>img{
        border-radius: 100%;
        width: 15em;
        padding-top: 1em;
       
    }
    .informacoes_e_alteracoes{
        display: flex;
        flex-direction: column;
        width: 65%;
    }
    .informacoes{
        margin-left: .9em;
        display: flex;
        flex-direction: column;
    }
    .alteracoes{
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: center;
        color: #f0f0f0;
    }
    .alteracoes>input{
        width: 32%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color:#9a2edb;
        border-radius: 2em;
        margin: .3em;
        color: #f0f0f0;
        font-size: 1em;
        border-color: white;
        height: 3.5em;
    }
    .alterarimagemperfil>input{
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color:black;
        border-radius: .8em;
        margin: .3em;
        margin-top: 1em;
        color: #f0f0f0;
        font-size: 1em;
        border-color:#9a2edb;
        border-width: .15em;
        height: 2em;
    } 
    #investimentos{
        display: grid;
        grid-template-rows: 1 1;
        grid-template-columns: 1 1;
        width: 50%;
    }
    #investimentos > div{
        text-align: justify;
        border: #9a2edb solid .2em;
        border-radius: .8em;
        padding: .5em;
    }
    .Perfilh2{
      font-size: 2em;
      color: #000000;  
    }
